* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

/* 2. For Chrome, Edge, Safari (WebKit) */
::-webkit-scrollbar {
  width: 4px; /* Width of the vertical scrollbar */
  height: 4px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Makes the track invisible */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent dark grey */
  border-radius: 20px; /* Makes it round like a pill */
  border: transparent; /* Optional: adds space around the thumb */
}

/* Optional: Make it darker when you hover over it */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.cinzel-font {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-font {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-xl {
  font-size: 1.5rem;
}

.font-l {
  font-size: 1.25rem;
}

h1,
h2 {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  font-family: "Cormorant Garamond", serif;
}

.hidden {
  opacity: 0;
  transition: all 2s ease;
}

.show {
  opacity: 1;
}

.delay-1 {
  transition-delay: 0.2s;
}
.delay-2 {
  transition-delay: 0.4s;
}
.delay-3 {
  transition-delay: 0.6s;
}
.delay-4 {
  transition-delay: 0.8s;
}
.delay-5 {
  transition-delay: 1s;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100svh;
  scroll-snap-stop: always;
}

.dear {
  font-size: 1.75rem;
  font-weight: 700;
}

#guest-name {
  font-size: 2rem;
  font-weight: 700;
}

.section {
  height: 100dvh;
  display: grid;
  place-items: center;
  margin-inline: auto;
  scroll-snap-align: start;
}

.landing {
  height: 100svh;
  justify-content: center;
  align-items: end;
  padding-bottom: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  display: grid;
  margin-inline: auto;
  background-color: #8a6955;
  background: url(src/firstImg-1440.webp);
  background-size: cover;
  background-position: center 55%;
  color: #fff;

  .disclaimer {
    font-size: 0.9rem;
    opacity: 0.8;
  }

  .sambutan-landing {
    display: grid;
    gap: 12px;
  }

  #guest-name::after {
    content: "Mohon maaf apabila ada kesalahan penulisan nama atau gelar";
    display: block;
    font-size: 0.75rem;
    opacity: 0.9;
    margin-top: 4px;
    font-family: "Cormorant Garamond", serif;
  }

  #open-invitation {
    margin-top: 1rem;
  }
}

.landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.animation-rollup {
  animation: rollup 2.5s ease-in forwards;
}

@keyframes rollup {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.ytp-play-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  width: 3rem;
  z-index: 1000;
  fill: #fff;
  transition: opacity 0.3s;
}

.ytp-play-button:hover {
  opacity: 0.7;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(src/Study-1440.webp);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.blur-bg {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
}

.button {
  font-family: "Cormorant Garamond", serif;
  outline: none;
  margin-inline: auto;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  width: fit-content;
  transition: 0.3s all;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#home {
  background-image: url(src/ThomiAulia-1440.webp);
  background-size: cover;
  background-position: center;
  position: relative;

  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
}

.welcome {
  font-size: 1.25rem;
  text-align: center;
  color: white;
  z-index: 10;
  p {
    font-family: "Cormorant Garamond", serif;
  }

  h1 {
    font-family: "Cinzel", serif;
    font-size: 3rem;
    font-weight: 400;
  }
}

.ayat {
  text-align: center;
  color: white;
  line-height: 2rem;
  padding: 2rem;
  width: 85%;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    font-weight: 400;
  }

  .arab {
    font-size: 1.7rem;
    line-height: 1.625;
    text-align: right;
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 3rem;
  }

  .sambutan {
    margin-inline: auto;
    width: 60%;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

#profile {
  display: flex;
}

.mempelai {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;
  width: 100%;
  position: relative;
  color: white;
}

.cpw {
  background-image: url(src/Aulia_.webp);
  z-index: -1;
  text-align: right;
}

.cpp {
  background-image: url(src/Thomi.webp);
  z-index: -1;
}

.mempelai::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.profile-text {
  margin-top: auto;
  margin-bottom: 5rem;
  display: grid;
  gap: 1rem;
  padding: 1rem 1.5rem;

  h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }
}

.wrapper {
  padding: 2rem;
  justify-content: center;
  text-align: center;
  display: grid;
  gap: 2rem;
  color: white;
}

.countdown-timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 2rem;

  div {
    display: grid;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    border-radius: 0.5rem;

    p {
      font-size: 1.25rem;
    }

    span {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

.lokasi {
  background: url(src/Park.webp);
  background-size: cover;
}

.icon {
  margin-inline: auto;
}

.lokasi .icon-akad {
  width: 10rem;
  fill: white;
}

.lokasi .icon-cheers {
  width: 8rem;
}

.tempat {
  display: flex;
  gap: 1rem;
  padding: 1rem 3rem 2rem;
  border-bottom: 1px solid white;
}

.tempat-detail {
  display: grid;
  gap: 0.75rem;
  line-height: 1.4;

  a {
    text-decoration: none;
  }
}

form {
  display: grid;
  gap: 1rem;
}

.radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
  }
}

.radio.kehadiran {
  grid-template-columns: 1fr 1fr 1fr;
}

input,
textarea {
  font-family: "Cormorant Garamond", serif;
  outline: none;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  transition: 0.3s all;
  font-size: 1.1rem;
}

input:focus,
textarea:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

input::placeholder,
textarea::placeholder {
  color: white;
}

.form-button {
  width: 100%;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
}

#status-message {
  pointer-events: none;
  font-size: 0.75rem;
}

.wishes {
  height: 90svh;
  max-width: 800px;
  grid-template-rows: auto 1fr;
}

#wishes-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  padding-right: 1rem;
}

.wish-item {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 70%;
}

.wish-name {
  font-size: 1.5rem;
}

.wish-item:nth-child(odd) {
  align-items: flex-start;
  text-align: left;
  margin-right: auto;
}

.wish-item:nth-child(even) {
  align-items: flex-end;
  text-align: right;
  margin-left: auto;

  .wish-profile {
    flex-direction: row-reverse;
  }
}

.end {
  color: white;
  background-image: url(src/ThomiAulia2.webp);
  background-size: cover;
  position: relative;
  z-index: -1;
  display: grid;
  grid-template-rows: 1fr auto;
}

.end::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.final-msg {
  padding: 4rem 2rem;
  text-align: center;
  display: grid;
  height: 100%;
  gap: 1rem;
  justify-content: center;

  .berbahagia {
    margin-top: auto;
  }

  h2 {
    font-size: 3rem;
    padding-top: 5rem;
  }
}

.copyright p {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

@media (max-width: 769px) {
  p {
    font-size: 1rem;
  }

  .ayat {
    h2 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    .arab {
      font-size: 1.5rem;
    }

    p {
      margin-bottom: 1rem;
    }

    .sambutan {
      width: 80%;
      font-size: 1.25rem;
    }
  }

  .lokasi {
    .icon-akad {
      width: 8rem;
    }

    .icon-cheers {
      width: 6rem;
    }
  }

  .profile-text h2 {
    font-size: 2rem;
  }

  #wishes-list {
    gap: 1.5rem;
    padding: 0;
  }

  .wish-item {
    max-width: 90%;
    gap: 0.5rem;
  }

  .end {
    background-position: center;
  }
}

@media (max-width: 480px) {
  .sambutan-landing {
    width: 80%;
    margin-inline: auto;
  }

  .ytp-play-button {
    width: 2.5rem;
    bottom: 0.3rem;
    right: 1rem;
  }

  section {
    padding: 0.5rem;
  }

  section:has(.profile-text) {
    padding: 0;
  }

  .ayat {
    padding: 1rem;

    p {
      font-size: 1rem;
      line-height: 1.625;
    }

    h2 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .arab {
      font-size: 1.25rem;
    }

    .sambutan {
      width: 100%;
      font-size: 1rem;
    }
  }

  #profile {
    flex-direction: column;
    gap: 1rem;
  }

  .wrapper {
    padding: 1rem;
    gap: 1rem;
  }

  .tempat {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .icon {
      display: none;
    }
  }

  .tempat-detail {
    gap: 0.5rem;
  }

  .lokasi {
    .icon-akad {
      width: 3rem;
    }

    .icon-cheers {
      width: 3rem;
    }
  }
  .countdown-timer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .radio {
    gap: 0.75rem;
  }

  .final-msg {
    h2 {
      font-size: 2rem;
      padding-top: 2rem;
    }
  }

  .end {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 47% center;
  }
}
